body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ff5a5f;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 20px;
}

.food-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 30%;
}

.food-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="file
